.header {
  position: relative;
  background: url('../../assets/landingimage.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.header-contents {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: antiquewhite;
  display: inline-block;
}

/* Animation for h2 */
.header-contents h2 {
  font-size: 32px;
  margin-bottom: 20px;
  opacity: 0; /* Start with hidden */
  transform: translateY(-30px); /* Start with the heading slightly moved up */
  animation: fadeInMoveDown 2s ease-out forwards; /* Apply animation */
}

/* Animation for p */
.header-contents p {
  font-size: 16px;
  width: 80%;
  margin: 20px auto;
  text-align: left;
  word-wrap: break-word;
  opacity: 0; /* Start with hidden */
  transform: translateY(20px); /* Start with the text slightly moved down */
  animation: fadeInMoveUp 1.5s 0.5s ease-out forwards; /* Apply animation with a delay */
}

/* Keyframes for h2 (fade in and move down) */
@keyframes fadeInMoveDown {
  0% {
      opacity: 0;
      transform: translateY(-40px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Keyframes for p (fade in and move up) */
@keyframes fadeInMoveUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Button Styles */
.Header-btn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Header-btn:hover {
  background-color: #e67b00;
}
