.Navbar{
    padding: 20px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Navbar.logo{
 width: 80px;


}

.ul-list{
    display: flex;
    padding: 2px;
    gap: 25px;
    font-size: 20px;
    list-style-type: none;
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.Navbar-btn{
    background: rgb(225, 214, 152);
    font-size: 12px;
    color: gray;
    border: 1px tomato;
    padding: 10px;
    border-radius: 40px ;
    cursor: pointer;
    width: 80px;
}
.Navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid;
}
.searchicon {
    position: relative;
    display: inline-block; /* Ensures the icon and dot are in the same block */
  }
  
  .searchicon img {
    width: 40px; /* Adjust the size of the basket icon if needed */
    height: 40px;
  }
  
  .searchicon .dot {
    position: absolute;
    top: 0; /* Position at the top */
    right: 0; /* Position at the right */
    width: 10px;  /* Size of the dot */
    height: 10px; /* Size of the dot */
    background-color: red; /* Color of the dot */
    border-radius: 50%;    /* Makes it a perfect circle */
    border: 2px solid white; /* Optional border to make it stand out */
  }
  